<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Logout</title>
      <link rel="stylesheet" href="../../assets/css/reset.css" />
      <link rel="stylesheet" href="../../assets/css/style.css" />
      <link rel="stylesheet" href="../../assets/css/output.css" />
   </head>
   <body>
      <button
         data-target="#logoutModal"
         class="flex items-center text-xl w-full p-3 gap-4 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-300 hover:text-gray-900 active:bg-slate-950 active:text-sky-50">
         <span class="icon-log-out text-2xl"></span>
         Log Out
      </button>
      <div
         id="logoutModal"
         class="modal hidden p-4 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-xl bg-white z-10 font-bold flex-col justify-between gap-8 h-[400px]">
         <p
            class="block md:pl-4 md:pb-8 md:pr-16 text-[18px] md:text-[24px] text-center">
            Are you sure to
            <span class="text-red-700 text-[18px] md:text-[24px]">logout</span>
            ?
         </p>
         <div class="flex justify-center gap-4 md:gap-8">
            <button
               class="logoutBtn py-[8px] px-[15px] bg-red-600 text-white rounded-xl active:scale-90 hover:bg-white hover:text-red-600 border-[2px] border-red-600 duration-300 ease-linear transition-all">
               Logout
            </button>
            <button
               onclick="closeModal()"
               class="btn cancel-btn bg-slate-400 py-[8px] px-[15px] rounded-xl duration-300 ease-linear transition-all hover:bg-slate-200 active:scale-90 border-slate-400 border-[2px]">
               Cancel
            </button>
         </div>
      </div>
      <div
         onclick="closeModal()"
         id="overlay"
         class="hidden absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
      <script src="../modals-data/modal-content.js"></script>
      <script src="../modals-data/modal-controller.js"></script>
   </body>
</html>
